<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @tweet.author %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tweet.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tweet.date %>
</p>

<p>
  <strong>Tw tweet:</strong>
  <%= @tweet.tw_tweet_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @tweet.language %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
